body{
    background-color: transparent;
    background-image: url(images/1_Ffx3cJTrsB8AnBRuBLE3Kw.jpeg);
    background-size: cover;
    background-position: -125px;
    margin: 0 0;
}

h1{
    text-align: center;
    font-size: 50px;    
}
nav {
    margin: 0;
    background-color: transparent;
    padding: 0 0;
}

nav ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
    }


nav ul h1 li {
    padding: 0;
    margin: 0px 50px 0 0;
    display:inline-block;
    background-color: transparent;
    text-align: center;
}
nav a {
    display:block;
    padding:0 20px;
    color: black;
    background-color: white;
    font-size:20px;
    line-height: 60px;
    text-decoration: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
nav a:hover {
    background-color: deepskyblue;
}
nav ul ul{
    display: none;
    position: absolute;
}
nav ul li:hover > ul{
    display:inherit;
    margin: 0 -100px;
}
nav ul ul li {
    min-width:170px;
    display:block;
    position: relative;
}
nav ul ul ul {
    position: absolute;
    top:0;
    left:290px;
}
.word::after{
    content: "▼";
    font-size: 14px;
}
.item::after{
    content: "►";
    font-size: 10px;
    padding: 10px;
}
footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
    margin: 577.9px 1.9px 0; 
    letter-spacing: 1px;
}
footer a{
    color: white;
}

input[type=search] {
    width: 200px;
    height: 28px;
}

input[type=search]:focus {
    background-color: whitesmoke;
}
.material-icons{
    vertical-align: -20%;
}
#search{
    vertical-align: -38%;
    width: 60px;
    color: deepskyblue;
    height: 22px;
}
