body{
  overflow: hidden;
    margin: 0;
}
.background{
  margin: 0;  
}

.container{
  margin-left: -50em;
  position: absolute;
  left: 50%;
  opacity: 0.9;
}

.content{
  font-family: Georgia, serif;
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  margin-top: -100px;
}
.content-title{
  font-size: 80px;
  margin-bottom: 10px;
  color: red;
}
.details{
    font-family: cursive;
    font-size: 25px;
    color: mediumspringgreen;
    margin: 10px;
    font-weight: 600;
}
.start{
    font-size: 20px;
    background-color: white;
    color: black;
    border-width: thick;
    border-color: white;
}
.start:hover {
    background-color: deepskyblue;
}
#watch{
    margin-left: 10px;
}
.info{
    padding: 30px 30px;
    font-size: 20px;
    font-weight: 600;
    font-style: oblique;
}